{{ template "metadata.html" "Sign-up" }}

<body>

    {{ if . }}
    Welcome, {{ .user.Username }}
    <form action="/account/signout" method="post">
        <input type="submit" name="upvote" value="Signout" />
    </form>
    <button id="g">Open game</button>
    <script>
        document.getElementById("g").addEventListener("click", function () {
            window.open("/arena", 'mywin', 'width=800,height=600')
        }); 
    </script>
    {{ else }}

    <div>
        <form action="/account/signup" method="post">
            <h1>signup form</h1>
            <input type="text" placeholder="username" name="username">
            <input type="password" placeholder="password" name="password">
            <button>Send</button>
        </form>
    </div>

    <div>
        <form action="/account/signin" method="post">
            <h1>signin form</h1>
            <input type="text" placeholder="username" name="username">
            <input type="password" placeholder="password" name="password">
            <button>Send</button>
        </form>
    </div>

    {{ end }}

</body>

</html>