{{ template "metadata.gohtml" "Log-in"}}

<body>
    <h1>Login Form</h1>
    <form action="/user/login" method="post">
        <input type="text" name="username">
        <input type="password" name="password">
        <button>Send</button>
    </form>
    <a href="/">back to Home page</a>
</body>
</html>